[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
app_debug = "python -m uvicorn app:app --reload"
app = "python __main__.py"
